doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/node_modules/reveal.js/dist/reveal.css")
    link(rel="stylesheet", href="/node_modules/reveal.js/dist/theme/black.css")
    link(rel="stylesheet", href="/src/css/tailwind.css")
    script(src="/src/ts/reveal.ts" type="module" defer async) 
    script(src="/src/ts/mermaid.ts" type="module" defer async) 
    title Conovatec bootcamp
  body
    block content
